################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MedicalAPI/FileContentIndex/9c05bb0d-a594-4fcc-9dff-ec5d19aa5536.vsidx
